<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    {% capture title | strip %}{% if page.title == 'Ondřej Mirtes' %}{{ page.title }}{% else %}{{ page.title }} | Ondřej Mirtes{% endif %}{% endcapture %}
    {% capture description | strip %}{% if page.path contains '_posts' %}{{ page.content | markdownify | strip_html | strip_newlines | truncatewords:50 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description }}">
    <meta property="og:image" content="/apple-touch-icon-precomposed.png" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:url" content="{{ site.baseurl }}{% if page.active != 'homepage' %}{{ page.url | remove: '.html' }}{% else %}/{% endif %}" />
    <meta property="og:site_name" content="Ondřej Mirtes" />
    <meta property="og:type" content="blog" />
    <meta property="og:description" content="{{ description }}" />
    <meta name="twitter:site" content="@OndrejMirtes">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ description }}" />
    <meta name="twitter:image" content="{{ site.baseurl }}/apple-touch-icon-precomposed.png" />
    <title>{{ title }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,italic,bold&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,italic,bold&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% css_asset_tag global %}
- /css/main.css
- /css/pygments.css
- /css/bigfoot-default.css
{% endcss_asset_tag %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/apple-touch-icon-precomposed.png">
    <link href="/rss" rel="alternate" type="application/rss+xml" title="RSS">
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" media="all" href="/css/ie.css">
    <![endif]-->
{% javascript_asset_tag piwik %}
- /js/piwik.js
{% endjavascript_asset_tag %}
    <noscript><p><img src="https://piwik.mirtes.cz/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
</head>
<body>

<div class="wrapper">

    <nav id="accessibility-nav">
        <ol>
            <li><a href="#navigation">Přejít k navigaci</a></li>
            <li><a href="#content">Přejít na obsah</a></li>
            <li><a href="#sidebar">Přejít k postrannímu sloupci</a></li>
            <li><a href="http://www.ippi.cz/klavesove-zkratky/zakladni.html" accesskey="1">Klávesové zkratky</a>
        </ol>
    </nav>
    <!-- / accessibility-nav -->
    <hr />

    <header id="header">

        <div class="inner">

            <h1 class="site-name"><a href="/" rel="home" title="Přejít na homepage" accesskey="2"><img src="/gfx/logo-new.png" alt="Ondřej Mirtes" width="276" height="44"></a></h1>

            <nav class="links">
                <a href="https://twitter.com/OndrejMirtes" class="icon icon-twitter" title="Twitter">Twitter</a>
            </nav>
            <!-- / links -->

        </div>
        <!-- / inner -->

    </header>
    <!-- / header -->
    <hr />

    <div id="container">

    <aside id="sidebar">

        <nav id="navigation">
            <ul>
                <li{% if page.active == 'homepage' %} class="active"{% endif %}><a href="/">Homepage</a></li>
                <li{% if page.is_archive %} class="active"{% endif %}>
                	<a href="{{ site.data['archives'].last.url }}">Archiv</a>
                	{% if page.is_archive %}
	                	<ul class="submenu">
							{% for archive_page in site.data['archives'] reversed %}
								<li{% if archive_page.year == page.year %} class="active"{% endif %}>
									<a href="{{ archive_page.url }}">
										<span class="count">({{ archive_page.posts.size }})</span> {{ archive_page.year }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
                </li>
                <li{% if page.active == 'about' %} class="active"{% endif %}><a href="/o-mne">O mně</a></li>
            </ul>

			{% if page.is_archive %}
				<form action="" method="get">
					<select class="submenu" id="frm-archiveForm">
						{% for archive_page in site.data['archives'] reversed %}
							<option{% if archive_page.year == page.year %} selected="selected"{% endif %} value="{{ archive_page.url }}">{{ archive_page.title_short }} ({{ archive_page.posts.size }})</option>
						{% endfor %}
					</select>
				</form>
			{% endif %}
        </nav>
        <!-- / navigation -->
        <hr />

    </aside>
    <!-- / sidebar -->
    <hr />

    <section id="content">

        {{ content }}

    </section>
    <!-- / content -->
    <hr />

    </div>
    <!-- / container -->

    <footer id="footer">

        <div class="inner">

            &copy; 2012&ndash;{{ site.time | date: '%Y' }} Ondřej Mirtes | <a href="/rss">RSS</a>

        </div>
        <!-- / inner -->

    </footer>
    <!-- / footer -->

{% javascript_asset_tag global %}
- /js/jquery.js
- /js/bigfoot.min.js
- /js/main.js
{% endjavascript_asset_tag %}

</div>
<!-- / wrapper -->

</body>
</html>
